name: 'Tests'

on: ["push"]

jobs:
  tests:
    name: 'Run tests'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Build the stack
        run: docker compose -f docker-compose.test.yml up -d --build

      - name: Run tests
        run: docker exec pr-assignment ./tests
