name: 'Tests'

on: ["push"]



jobs:
  tests:
    name: 'Run tests'
    runs-on: ubuntu-latest
    env:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

    services:
      db:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: './go.mod'

      - name: Install dependencies
        run: go mod download

      - name: Apply migrations
        env:  
          CONFIG_PATH: ./config/tests.yaml
        run: go run ./cmd/migrator --migrations-path=./migrations

      - name: Run service
        run: nohup go run ./cmd/prassignment
        
      - name: Check listening ports with ss
        run: ss -tuln

      - name: Run tests
        env:          
          CONFIG_PATH: ../config/tests.yaml
        run: go test -v ./tests
